# Input Your Salary

In [1]:
salary = int(input('Enter your salary: '))

Enter your salary: 47000

# Input your Tenure in Month

In [2]:
 tenure=int(input('Time period of tenure in months: '))

Time period of tenure in months: 50

# Input actual Working Period

In [3]:
worked=int(input('Actual working period of employee in months:'))

Actual working period of employee in months:50

In [4]:
if tenure>23 and tenure<36:
    value=2
    print(value)
elif tenure>35 and tenure<48:
    value=3
    print(value)
elif tenure>47:
    value=4
    print(value)
else:
    print ("Sorry, To apply for this plan you need to work for atleast 24 months i.e 2 years")

4

In [5]:
if worked>23 and worked<36:
    value1=2
elif worked>35 and worked<48:
    value1=3
elif worked>47:
    value1=4
else:
    print ("Sorry, To apply for this plan you need to work for atleast 24 months i.e 2 years")
    
value1

4

In [6]:
n=value-value1
if   n==0:
     id=0
elif n==1:
     id=1
elif n==2:
    id=2
elif n<0:
     id=0        
id

0

In [7]:
if salary>400000:
    inv=((salary)*15)/100
    print (inv)
elif 400000>=salary>290000:
    inv=((salary)*12)/100
    print (inv)
elif 290000>=salary>150000:
    inv=((salary)*10)/100
    print (inv)
elif 150000>=salary>65000:
    inv=((salary)*8)/100
    print (inv)
else:
    inv=((salary)*7)/100
    print (inv)

3290.0

In [8]:
if inv>30000:
    val=4
    print(val)
elif inv<30000 and inv>10000:
    val=3
    print(val)
else:
    val=2
    print(val)

2

In [9]:
intrest_rate=(1.75*val+0.75*value)-id
intrest_rate

6.5

In [10]:
ir= intrest_rate/1200
ir

0.005416666666666667

In [11]:
amount = inv
tp =1
months=1
pv=amount
pi=0
while tp<=tenure:
    pi=(pv*(1+ir))
    pv=amount+pi
    tp=tp+1
    months=months+1
    if months==12:
        amount=amount*(1.05)
        months=0
print("Final Amount given to Employee :")        
print(pi)

Final Amount given to Employee :
204190.18614375955